.popupOverlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    background: rgb(0,0,0,1%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.67);

}

.popup{
    background: white;
    display: flex;
    flex-direction: column;
    gap:20px;
    height: 500px;
    padding: 40px ;
    border-radius: 15px;
}

.inputContainer{
    width: 400px;
}

.subheading{
    color: #737373;
    font-size: 14px;
    margin-top: 5px;
}

.inputHeading{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}

.input{
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
}

.desc{
    width: 100%;
    height: 70px;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
}

.dateTimeContainer{
    width: 400px;
    display: flex;
    gap:25px
}

.dateTime{
    width: 170px;
    padding-left: 20px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
}

.btnContainer{
    display: flex;
    justify-content: flex-end;
    gap:20px;
    align-items: center;
    margin-top: 10px;
}

.btn{
    border: none;
    border-radius: 7px;
    height: 40px;
    width:100px;
}

#createBtn {
    background: #9a0101;
}