.popupOverlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    background: rgb(0,0,0,1%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.67);

}

.popupWindow{
    height: 250px;
    width: 500px;
    padding-left: 40px;
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
}

.text{
    margin-top: 10px;
    font-size: 17px;
    color: #737373;
}

.type{
    font-weight: bolder;
    margin-right: auto;
    margin-top: 30px;
    font-size: 20px;
}

.identifier{
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.buttonContainer{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 30px;
}

.button{
    width: 100px;
    height: 40px;
    margin-right: 30px;
    border: none;
    border-radius: 7px;
}

#delete{
    background: #9a0101;
    border: none;
}