.eventCard{
    display: flex;
    flex-direction: column;
    gap:10px;
    border:1px solid #e5e5e5;
    padding: 30px;
    width: 320px;
    border-radius: 15px;
    position: relative;
}

.eventCard:hover{
    box-shadow: 3px 3px 3px #e5e5e5;
}

.eventDesc{
    color: #737373;
    height: 80px;
    font-size: 15px;
}

.detailsContainer{
    margin-top: 20px;
    color: #737373;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap:7px;
}

.btnContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail{
    display: flex;
    align-items: center;
}

.detailsLogo{
    height: 18px;
    width: 18px;
    color: #d61919;
    margin-right: 10px;
}

.btnLogo{
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.line{
    border: none;
    height: 1px;
    background: #bcbbbb;
    margin-top: 10px;
}

#host:hover{
    background: #9a0101;
}

#register{
    color: white;
    background: #212C87;
}

.regId{
    display: flex;
    justify-content: flex-end;
    color : #212C87;
    font-size: 14px;
}

.hostOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hostDetailsContainer{
    display: flex;
    flex-direction: column;
    gap:20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);

    z-index: 1000;
    width: 60%;
    max-width: 300px;


}

.hostEmail{
    display: flex;
    align-items: center;
    color: #737373;
}

.hostDetails{
    display: flex;
}
.hostName{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
}

.hostUsername{
    text-transform: none;
    font-size: 15px;
    font-weight: 400;
    color: #737373;
}

.hostLogo{
    color: #9a0101;
    height: 17px;
    width: 16px;
    margin-right: 10px;
}