.header{
    padding: 15px 70px 10px 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;

}

.logoTextContainer{
    display: flex;
    gap:20px
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: rgba(146, 155, 241, 0.47);
    border-radius: 50%;
}

.userContainer{
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}

.userContainer:hover{
    background: #9a0101;
}
.p{
    margin-top: 5px;
    color: #737373;
    font-size: 13px;
}

.chevron{
    height: 20px;
    width: 20px;
    color: #737373;
}

.userLogo{
    height: 17px;
    width: 17px;
    color: #051ee1;
}

.userDetails{
    position: absolute;
    top:0;
    right: 0;
    margin-top: 65px;
    margin-right: 80px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    min-width: 200px;
    padding:10px 0 10px 0;
    background: white;
}

.name{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
}

.username{
    color: #737373;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

.email{
    color: rgba(255, 2, 32, 0.56);
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.hr{
    background: #e5e5e5;
    margin-top: 10px;
    height: 1px;
    border: none;
}
.logout{
    margin-top: 10px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    color: red;
}

.logoutLogo{
    height: 20px;
    width: 20px;
    margin-right: 20px;
    color: #737373;
}

.window{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}