*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto","Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}
.form{
    display: flex;
    align-items: center;
    width: 500px;
    border: 2px solid rgba(182, 182, 182, 0.5);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    background: white;
    box-shadow: #acacac 5px 5px 10px;
    flex-direction: column;
    gap:30px;
}

.body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFEFEF;
}

.accountTypeContainer{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}


.accountType{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 35px;
    font-size: 14px;
    border: 1px solid rgba(182, 182, 182, 0.5);
    border-radius: 7px;
    font-weight: 500;
}

.activeAccountStyle{
    background: #212C87;
    color: white;
    border: none;
}

.inactiveAccountStyle:hover{
    background: #9a0101;
}

.input{
    width: 410px;
    height: 35px;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid rgba(182, 182, 182, 0.5);
    border-radius: 7px;
    font-size: 14px;
}

.input:focus{
    border-color: #212C87;
}

.button{
    width: 420px;
    height: 35px;
    color:white;
    font-weight: 500;
    background: #212C87;
    border: none;
    border-radius: 7px;
}
.text{
    color: #737373;
}

.signupTxt{
    color:#212C87;
    font-weight: bold;
}

.signupTxt:hover{
    text-decoration: underline;
    text-underline: #212C87;
}

